/* Reset default styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FFAF45;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.canvas {
  width: 80%; /* Adjust width */
  text-align: center;
}

h1 {
  color: #333;
}

h2 {
  color: #2d1212;
  font-weight: normal;
  margin-top: 20px; 
}

.button {
  width: 100px;
  height: 100px;
  border: 2px solid #333;
  display: inline-block;
  margin: 10px;
  transition: transform 0.2s ease;
  border-radius: 50%; 
}

#grey {
  background: grey;
}

#white {
  background: white;
}

#yellow {
  background: yellow;
}

#Green {
  background: green;
}

#display-name {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 20px; 
}
.button:hover {
  transform: scale(1.1);
}

/* Style the reset button */
#default {
  margin: 0 auto; 
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

#default:hover {
  background-color: #999;
  color: #fff;
}
